@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-image: url("https://www.itl.cat/pngfile/big/70-703954_solid-colors-pink-and-grey-gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  padding: 0px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
  }
  
table, tr, td {
  width: 40%;
  height: 100%;
  border: none;
}

.name {
  font-size: 50px;
}

a {
  margin: 15px;
  text-decoration: none;
  color: #fefefe;
}

.desc {
  font-size: 32px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 20px;
  align-items: center;
  height: 100%;
}

ul li {
  margin-right: 30px;
  font-size: 25px;
  color: #F2E4E9;
}

nav {
  background-color: rgb(107, 105, 104);
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1;
}


.fa {
  background: rgb(107, 105, 104);
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

a:hover {
  opacity: 0.7;
}


footer {
  bottom: 0px;
  width: 100%;
  padding: 0px;
}

footer nav {
  height: 150px;
  justify-content: center;
}

header nav {
  height: 100px;
}

.first {
  height: 150px;
}

.social {
  justify-content: center;
  display: flex;
}

.entry {
  margin-bottom: 50px;
  position: fixed;
  top: 0;
}

#home {
  height: 800px;
  padding-top: 70px;
}

#home img {
  margin-top: 100px;
}

#home table {
  height: 60%;
}


table.about {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  width: 50%;
  margin-bottom: 200px;
  border:2px rgb(107, 105, 104) solid;
  text-align: left;
  border-spacing: 0;
}

table.about td {
  padding: 20px;
  color: #efefef;
  border-bottom: 1px rgb(107, 105, 104) solid;
}

table.about td.school {
  color: rgb(107, 105, 104);
}

#about {
  font-family: 'Lucida Grande';
}

.projects {
  height: 300px;
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  border: 1px solid #efefef;
}

.projects div {
  margin: auto;
}

.projects p {
  color: rgba(212, 169, 175, 0);
  transition: 0.3s ease-out;
}

#book:hover p {
  color: #efefef;
}

#chat:hover p {
  color: #efefef;
}

#lab:hover p {
  color: #efefef;
}

.entry {
  position: fixed;
}

#book img {
  margin-bottom: 10px;
}

#lab img {
  margin-bottom: 10px;
}

#greet {
  display: inline;
  font-family: "Montserrat";
  padding-left: 20px;
  padding-top: 30px;
}

a img {
  border: none;
}

.caption {
	display: inline-block;
	position: relative;
	margin: 10px;
}

.caption img {
	display: block;
	max-width: 100%;
}

.caption::before,
.caption::after {
	opacity: 0;
	position: absolute;
	width: 100%;
	color: #fff;
	padding: 20px;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.caption::before {
	content: attr(data-title);
	top: 0;
	height: 30%;
	background: #a21f00;
	font-size: 40px;
	font-weight: 300;
}

.caption::after {
	content: '\201C' attr(data-description) '\201D';
	top: 30%;
	height: 70%;
	background: #db2e00;
	font-size: 16px;
	text-align: right;
}

.caption:hover::before,
.caption:hover::after {
	opacity: 1;
}

/* Show on hover (animate opacity) */
.caption-2::before,
.caption-2::after {
	opacity: 0;
	position: absolute;
	width: 100%;
	color: #fff;
	padding: 20px;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.caption-2::before {
	content: attr(data-title);
	top: 0;
  left: 0;
	height: 30%;
	background: #a21f00;
	font-size: 40px;
	font-weight: 300;
}

.caption-2::after {
	content: '\201C' attr(data-description) '\201D';
	top: 30%;
  left: 0;
	height: 66%;
	background: #db2e00;
	font-size: 16px;
	text-align: right;
}

.caption-2:hover::before,
.caption-2:hover::after {
	opacity: 1;
}

.btn {
	border: 1px solid #fff;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
  margin-top: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-1c:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
}

.btn-1c:hover,
.btn-1c:active {
	color: #0e83cd;
}

.btn-1c:hover:after,
.btn-1c:active:after {
	width: 100%;
}


#contacts li {
  list-style: none;
  margin: 0 15px;
}

#contacts li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .1s;
}

#contacts li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: inherit;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

#contacts li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ff2810;
}

#contacts li a:hover {
  color: #ff2810;
  box-shadow: 0 0 5px #ff2810;
  text-shadow: 0 0 5px #ff2810;
}

.container {
  margin: 50px;
}

@media only screen and (max-width: 600px) {
  .projects {
    height: 600px;
    flex-direction: column;
  }
  
  nav.entry {
    display: flex;
  }

  nav.entry ul {
    margin-bottom: 0;
  }
}
