html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-image: url("https://www.itl.cat/pngfile/big/70-703954_solid-colors-pink-and-grey-gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  padding: 0px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
  }
  
table, tr, td {
  width: 40%;
  height: 100%;
  border: none;
}

.name {
  font-size: 50px;
}

a {
  margin: 15px;
  text-decoration: none;
  color: #fefefe;
}

.desc {
  font-size: 32px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 20px;
  align-items: center;
  height: 100%;
}

ul li {
  margin-right: 30px;
  font-size: 25px;
  color: #F2E4E9;
}

nav {
  background-color: rgb(107, 105, 104);
  height: 70px;
  width: 100%;
  align-items: center;
  display: flex;
}


.fa {
  background: rgb(107, 105, 104);
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

a:hover {
  opacity: 0.7;
}


footer {
  bottom: 0px;
  width: 100%;
  padding: 0px;
}

footer nav {
  height: 150px;
  justify-content: center;
}

header nav {
  height: 100px;
}

.first {
  height: 150px;
}

.social {
  justify-content: center;
  display: flex;
}

.entry {
  margin-bottom: 50px;
}

#home {
  height: 100vh;
  padding-top: 50px;
}

#home img {
  margin-top: 100px;
}

#home table {
  height: 60%;
}


table.about {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  width: 50%;
  margin-bottom: 200px;
  border:2px rgb(107, 105, 104) solid;
  text-align: left;
  border-spacing: 0;
}

table.about td {
  padding: 20px;
  color: #efefef;
  border-bottom: 1px rgb(107, 105, 104) solid;
}

table.about td.school {
  color: rgb(107, 105, 104);
}

#about {
  font-family: 'Lucida Grande';
}

.projects {
  height: 300px;
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  border: 1px solid #efefef;
}

.projects div {
  margin: auto;
}

.projects p {
  color: rgba(212, 169, 175, 0);
  transition: 0.3s ease-out;
}

#book:hover p {
  color: #efefef;
}

#lab:hover p {
  color: #efefef;
}

.entry {
  position: fixed;
}
